<header id="header">
    <div class="headerContainer">
        <div class="headerTop">
            <div class="headerLogo">
                <a href="/">
                    <img src="../../Files/images/logo.png" />
                </a>
            </div>
            <div class=headerSearch>
                <input type="text" name="search" placeholder="Buscar...">
            </div>
            <div class="headerLinks">
                <div class="headerContact">
                    <div class="headerLinkImg"><img src="../../Files/images/contacto.png"/></div>
                    <div class="headerLinkText">Contacto</div>
                </div>
                <div class="headerAccount">
                    <div class="headerLinkImg"><img src="../../Files/images/cuenta.png"/></div>
                    <div class="headerLinkText">Mi Cuenta</div>
                </div>
                <div class="headerCart">
                    <div class="headerLinkImg"><img src="../../Files/images/carrito-de-compras.png"/></div>
                    <div class="headerLinkText">Mi Carrito</div>
                </div>
            </div>
        </div>
        <div class="headerBottom">
            <div>Categorías</div>
            <div>Ofertas</div>
            <div>¿Quienes Somos?</div>
        </div>
    </div>
</header>